    <footer class="page-footer blue lighten-1 center-align">      
            <p>Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script>
                With
                <a href="https://github.com/abregre" class="red-text xl">❤️</a>
                by DigitalUrban
            </p>      
    </footer>
