<nav class="blue lighten-1">
    <div class="nav-wrapper container">
        <a href="/dashboard" class="brand-logo center">
            <h5 class="white-text font-title"><i class="far fa-sticky-note"></i> MemoPool</h5>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav blue lighten-1" id="mobile-demo">
            <li><a href="/memos" class="font-title">Public Memos</a></li>
            <li><a href="/dashboard" class="font-title">DashBoard</a></li>
            <li><a href="/auth/logout" class="font-title">Logout</a></li>
        </ul>
    </div>
</nav>