<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&family=Signika:wght@400;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://kit.fontawesome.com/6cdc5b8190.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>MemoPool - Create and share memos</title>
</head>

<body>
    {{>_header-login}}
    <main>

        <div class="container login-container ">
            <div class="card yellow lighten-1">
                <div class="card-content">
                    {{{body}}}
                </div>
            </div>
        </div>
    </main>
    {{>_footer}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>