
<h3 class="lighten-1 blue-text font-title">MemoPool</h3>
<div class="section">
    <p class="lead lighten-1 blue-text xl2 font-title">Create and share memos</p>
</div>
<div class="divider blue lighten-1"></div>
<div class="section" id="loginButtons">
    <a href="/auth/google" class="btn red darken-1 font-title"><i class="fab fa-google left"></i>Log in with Google</a>
    <br>
    <a href="/auth/github" class="btn black darken-1 font-title"><i class="fab fa-github left"></i>Log in with Github</a>
</div>